<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Copyright 2010 The myBatis Team Licensed under the Apache License, Version 
	2.0 (the "License"); you may not use this file except in compliance with 
	the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<mapper namespace="com.myproject.ikm.lib.mapper.UserDataMapper">


	<sql id="_sqlUser">
		id, kode_sekolah as kodeSekolah, nomor_induk as
		noInduk,name as nama,password,
		user_type as userType,status_user as statusUser,
		created_on as createdOn, updated_on as updatedOn
	</sql>

	<select id="findUserByKodeSekolahAndNoIndukAndUserType" parameterType="java.util.Map"
		resultType="User">
		select
		<include refid="_sqlUser" />
		from user
		where kode_sekolah = #{kodeSekolah}
		and nomor_induk =
		#{noInduk}
		and user_type = #{userType}
	</select>
	
	<select id="findKelasByUser" parameterType="java.util.Map"
		resultType="Kelas">
		select k.id,k.kode_kelas as kodeKelas,k.nama_kelas as namaKelas, 
		k.wali_kelas_id as waliKelasId, k.created_on as createdOn, k.updated_on as updatedOn 
		from user u
		inner join user_sekolah_kelas usk on u.id = usk.user_id
		inner join kelas k on k.id = usk.kelas_id
		where u.kode_sekolah = #{kodeSekolah}
		and u.id = #{userIdLogin}
	</select>
	
	<select id="findAllKelasTeacher" parameterType="java.util.Map" resultType="Kelas">		
		select k.id,k.kode_kelas as kodeKelas,k.nama_kelas as namaKelas, 
		k.wali_kelas_id as waliKelasId, k.created_on as createdOn, 
		k.updated_on as updatedOn from user u 
    	inner join user_sekolah_kelas usk on u.id = usk.user_id
    	inner join kelas k on k.id = usk.kelas_id
		where u.kode_sekolah = #{kodeSekolah}
		and u.nomor_induk = #{noInduk}
		and u.user_type = #{userType}
	</select>
	
	<select id="findAllRecepientMessageFromTeacher" parameterType="java.util.Map"
		resultType="User">
		select u.id, u.kode_sekolah as kodeSekolah, u.nomor_induk as
		noInduk,u.name as nama,u.password,
		u.user_type as userType,u.status_user as statusUser,
		u.created_on as createdOn, u.updated_on as updatedOn
		from user u
		inner join user_sekolah_kelas usk on u.id = usk.user_id
    	where u.user_type = 2 
      and usk.kelas_id in (select k.id
		from user u
		inner join user_sekolah_kelas usk on u.id = usk.user_id
		inner join kelas k on k.id = usk.kelas_id
		where u.kode_sekolah = #{kodeSekolah}
		and u.id = #{userIdLogin})
	</select>


</mapper>